<nav>
    {{ partial "search" . }}

    <section class="gdoc-nav--main">
        <h2>Edukiak</h2>
        <ul class="gdoc-nav__list"><li>
          <ul class="gdoc-nav__list"><li>
            <span class="flex">
            <a href="/" class="gdoc-nav__entry ">
              Ongi etorri!
            </a>
            </span>
          </li></ul>
        </li></ul>
        {{ if .Site.Params.GeekdocMenuBundle }}
            {{ partial "menu-bundle" (dict "current" . "source" .Site.Data.menu.main.main) }}
        {{ else }}
            {{ partial "menu-filetree" . }}
        {{ end }}
        <br />
        <span class="flex" style="font-weight: 700;">
          Bisitatu:
        </span>
        <span class="gdoc-button">
          <a href="https://lemmy.eus/" target="_blank" class="gdoc-button__link">
            Lemmy.eus
          </a>
        </span>
    </section>

    <section class="gdoc-nav--more">
        {{ if .Site.Data.menu.more.more }}
            <h2>More</h2>
            {{ partial "menu-bundle" (dict "current" . "source" .Site.Data.menu.more.more) }}
        {{ end }}
    </section>
</nav>
