{{ if default true .Site.Params.GeekdocSearch }}
    <div class="gdoc-search">
        <svg class="icon search"><use xlink:href="#search"></use></svg>
        <input type="text" id="gdoc-search-input" class="gdoc-search__input" placeholder="Bilatu"
            aria-label="Search" maxlength="64" />
        <div class="gdoc-search__spinner spinner hidden"></div>
        <ul id="gdoc-search-results" class="gdoc-search__list"></ul>
    </div>
{{ end }}
