{{ $geekdocLicenseName := default (default false .Site.Params.GeekdocLicenseName) .Page.Params.GeekdocLicenseName }}
{{ $geekdocLicenseUrl := default (default false .Site.Params.GeekdocLicenseUrl) .Page.Params.GeekdocLicenseUrl }}
<footer class="gdoc-footer">
    <div class="container flex flex-wrap">
        <span class="gdoc-footer__item">
            Osagaiak: <a href="https://gohugo.io/" class="gdoc-footer__link">Hugo</a> eta
            <svg class="icon heart"><use xlink:href="#heart"></use></svg>
        </span>
        {{ with .Site.Params.GeekdocLicense }}
        <span class="gdoc-footer__item">
            Lizentzia: <a href="{{ $geekdocLicenseUrl | relURL }}" class="gdoc-footer__link">{{ $geekdocLicenseName }}</a>
        </span>
        {{ end }}
        {{ with .Site.Params.GeekdocLegalNotice }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Legal Notice</a>
        </span>
        {{ end }}
        {{ with .Site.Params.GeekdocPrivacyPolicy }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Privacy Policy</a>
        </span>
        {{ end }}
    </div>
</footer>
