<header class="gdoc-header">
    <div class="container flex align-center justify-between">
        {{ if .MenuEnabled }}
        <label for="menu-control" class="gdoc-nav__control">
            <svg class="icon menu" style="fill: #6c757d;"><use xlink:href="#menu"></use></svg>
            <svg class="icon arrow-back" style="fill: #6c757d;"><use xlink:href="#arrow_back"></use></svg>
        </label>
        {{ end }}
        <a class="gdoc-header__link" href="https://lemmy.eus/">
            <span class="gdoc-brand flex align-center">
                <img class="gdoc-brand__img" src="{{ (default "brand.svg" .Root.Site.Params.GeekdocLogo) | relURL }}" alt="{{ .Root.Site.Title }}" width=38 height=38>
                {{ .Root.Site.Title }}
            </span>
        </a>
    </div>
</header>
