/* Laranja: #f1641e
Berde argia: #00c853
Berde iluna: #00a243
Grisa: #f8f9fa
Urdin argia: #007bff
Urdin iluna: #0056b3
/*

/* default link color */
a, a:visited { color: #f1641e; }
a:hover { color: #b7440b; }

/* site header */
.gdoc-header { background: #ffffff; border-color: rgba(34,34,34,.075); }
.gdoc-header__link, .gdoc-header__link:visited { color: #000; }

/* page links */
.gdoc-page__footer a, .gdoc-page__footer a:visited { color: #f1641e; }
.gdoc-page__header a, .gdoc-page__header a:visited { color: #f1641e; }

/* site footer */
.gdoc-footer { background: #404040; color: #ffffff; }
.gdoc-footer__link{ color: #fecf50; }
.gdoc-footer__link:visited, .gdoc-footer__link:hover { color: #fecf50; }

/* custom shortcodes */
/* button */
.gdoc-button { background-color: #00c853; border-color: #00c853; color: #ffffff; }
.gdoc-button:hover { background-color: #00953e; border-color: #00953e; color: #ffffff; }

/* hint */
.gdoc-hint.info { background: #d1d7e8; border-color: #324b99; color: black; }
.gdoc-hint.warning { background: #fef5dc; border-color: #e4ba48; color: black; }
.gdoc-hint.danger { background: #fae1db; border-color: #cf5f46; color: black; }

/* menu */
.gdoc-nav__entry { color: #f1641e !important; }

/* search */
.gdoc-search__input:hover { border-color: #f8b796; box-shadow: 0 0 0 .2rem rgba(241,100,30,.72); }

/* expand */
.gdoc-expand span, .gdoc-expand a { color: #007bff; }
.gdoc-expand span:hover, .gdoc-expand a:hover { color: #0056b3; }
